In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\symmora\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2
import pandas as pd

In [9]:
conn_url = 'postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml'



user_data = pd.read_sql(
    
    
'SELECT * FROM public.user_data', 
    
conn_url


)

post_text_df = pd.read_sql(

'SELECT * FROM public.post_text_df', 
    
conn_url


)

feed_data = pd.read_sql(

'SELECT * FROM public.feed_data limit 50000', 
    
conn_url

)

In [11]:
user_data.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [17]:


user_data.to_csv(r'C:\Users\symmora\recommendation_system\user_data.csv', index= False)  
post_text_df.to_csv(r'C:\Users\symmora\recommendation_system\post_text_df.csv', index= False)  
feed_data.to_csv(r'C:\Users\symmora\recommendation_system\feed_data.csv', index= False)

In [ ]:
Таблица user_data
Cодержит информацию о всех пользователях соц.сети

Field name	Overview
age	Возраст пользователя (в профиле)
city	Город пользователя (в профиле)
country	Страна пользователя (в профиле)
exp_group	Экспериментальная группа: некоторая зашифрованная категория
gender	Пол пользователя
id	Уникальный идентификатор пользователя
os	Операционная система устройства, с которого происходит пользование соц.сетью
source	Пришел ли пользователь в приложение с органического трафика или с рекламы

In [ ]:
Таблица post_text_df
Содержит информацию о постах и уникальный ID каждой единицы с соответствующим ей текстом и топиком

Field name	Overview
id	Уникальный идентификатор поста
text	Текстовое содержание поста
topic	Основная тематика

In [ ]:
Таблица feed_data
Содержит историю о просмотренных постах для каждого юзера в изучаемый период.



Field name	Overview
timestamp	Время, когда был произведен просмотр
user_id	id пользователя, который совершил просмотр
post_id	id просмотренного поста
action	Тип действия: просмотр или лайк
target	1 у просмотров, если почти сразу после просмотра был совершен лайк, иначе 0. У действий like пропущенное значение.